.sidebar_container {
  display: flex;
  flex-direction: column;
    background: #FFFFFF;
    max-width: 360px;
    /* padding: 30px; */
    text-align: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}