.collection-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .collection-image {
    @media (max-width: $screen-md) {
      padding: 0;
      width: 100%;
      height: 100%;
    }
    padding: 1em;
    width: 400px;
    height: 400px;
  }
  .hidden {
    width: 100px;
  }
}