.navbar {
  background-color: $primary;
  height: 10%;
  .title {
    margin: 0;
    color: white;
  }
  &--list {
    list-style: none;
    display: flex;
    justify-content: space-around;

    &--item {
      font-size: 1.8rem;
      &--link {
        color: white;
        transition: color .3s ease-out;
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: grey;
        }
      }
    }
  }
}