@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #687bcd;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  height: 50px;
  margin-bottom: 5px;
  min-width: 200px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #7387d6;
}