.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.60);
}

.modal .view {
  position: absolute;
  top: 20%;
  left: 25%;
}

.view img {
  max-width: 800px;
}

.view button {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  color: white;
}